
# python-multipart
# requests
# PyMuPDF
# docx2txt
# pdfminer.six
fastapi
uvicorn
aiohttp
numpy
python-dotenv
sentence-transformers
PyPDF2
python-docx
faiss-cpu
google-generativeai
pydantic
groq

