# fastapi
# uvicorn
# python-multipart
# requests
# PyMuPDF
# docx2txt
# faiss-cpu
# numpy
# sentence-transformers
# google-generativeai
# python-dotenv
fastapi
uvicorn
requests
python-dotenv
faiss-cpu
pdfminer.six
docx2txt
sentence-transformers
google-generativeai
beautifulsoup4